<h2>Add book</h2>
<fieldset>
    <legend>Add Book</legend>
    <form action="/books" method="post" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input type="text" name="title" value="<%= book.title %>">
        <label for="author">Author</label>
        <select name="author">
            <% authors.forEach(author=>{ %>
                <% if(author.id===book.author){ %>
                    <option selected label="<%= author.name %>" value="<%= author.id %>">
                <%} else{ %>
                    <option label="<%= author.name %>" value="<%= author.id %>">
                <%} %>    
            <% }) %> 
        </select>
        <br>
        <label for="publishDate">Publish Date</label>
        <input type="date" name="publishDate" value="<%=book.publishDate==null?'':book.publishDate.toISOString().split('T')[0]%>">
        <label for="pageCount">Page Count</label>
        <input type="number" name="pageCount" min="1" max="10000" value="<%= book.pageCount %>">
        <br>
        <label for="cover">Cover</label>
        <input type="file" name="cover" accept=".jpg,.png,.gif" class="filepond">
        <label for="description">Description</label>
        <textarea name="description" ><%= book.description %></textarea>
        <br>
        <a href="/books">Cancel</a>
        <button type="submit">Create</button>
    </form>
</fieldset>
